<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<module name="Checker">
  <property name="severity" value="warning" />
  <module name="Translation" />
  <module name="FileLength"/>
  <module name="TreeWalker">
    <property name="tabWidth" value="4" />
    <property name="cacheFile" value="/tmp/cachefile"/>

    <!-- Checks for Naming Conventions. -->
    <module name="ConstantName" />
    <module name="LocalFinalVariableName" />
    <module name="LocalVariableName" />
    <module name="MemberName">
      <property name="format" value="^[a-z_][a-zA-Z0-9]*$" />
    </module>
    <module name="MethodName">
      <property name="format" value="^(([a-z][a-zA-Z0-9]*)|(visit[a-zA-Z0-9_]*))$" />
    </module>
    <module name="PackageName">
      <property name="format" value="^[a-z][a-z_]*(\.[a-z0-9_]*)*$" />
    </module>
    <module name="ParameterName" />
    <module name="StaticVariableName" />
    <module name="TypeName" />

    <!-- Checks for imports -->
    <module name="AvoidStarImport" />
    <module name="IllegalImport" />
    <module name="RedundantImport" />
    <module name="UnusedImports" />

    <!-- Checks for Size Violations. -->
    <module name="LineLength">
      <property name="max" value="120" />
      <!-- allow long hibernate query = fetchexpressions. -->
      <property name="ignorePattern" value="^\s*\*\s*query\s*=\s*.*$" />
    </module>
    <module name="MethodLength">
      <property name="max" value="20" />
      <property name="countEmpty" value="false" />
    </module>
    <module name="ParameterNumber" />

    <!-- Checks for blocks. You know, those {}'s -->
    <module name="AvoidNestedBlocks" />
    <module name="EmptyBlock" />

    <!-- Checks for common coding problems -->
    <module name="CovariantEquals" />
    <module name="DoubleCheckedLocking" />
    <module name="EmptyStatement" />
    <module name="EqualsHashCode" />
    <module name="HiddenField">
      <property name="tokens" value="VARIABLE_DEF" />
    </module>
    <module name="IllegalInstantiation">
      <property name="classes" value="java.lang.Boolean" />
    </module>
    <module name="InnerAssignment" />
    <module name="MissingSwitchDefault" />
    <module name="SimplifyBooleanExpression" />
    <module name="StringLiteralEquality" />
    <module name="NestedIfDepth">
      <property name="max" value="2" />
    </module>
    <module name="NestedTryDepth" />
    <module name="SuperClone" />
    <module name="SuperFinalize" />
    <module name="IllegalCatch" />
    <module name="IllegalThrows" />
    <module name="ReturnCount">
      <property name="max" value="3" />
      <property name="format" value="^equals$"/>
    </module>
    <module name="FallThrough" />
    <module name="MultipleVariableDeclarations" />

    <!-- Checks for class design -->
    <module name="FinalClass" />
    <module name="HideUtilityClassConstructor" />
    <module name="VisibilityModifier">
      <property name="publicMemberPattern" value="^[_].*$" />
      <property name="protectedAllowed" value="true" />
    </module>
    <module name="MutableException" />

    <!-- Metrics checks -->
    <module name="CyclomaticComplexity">
      <property name="max" value="10" />
    </module>
    <module name="BooleanExpressionComplexity" />

    <!-- Miscellaneous other checks. -->
    <module name="UpperEll" />
    <module name="RegexpSinglelineJava">
      <property name="format" value="System\.out\.println"/>
      <property name="ignoreComments" value="true"/>
      <property name="message" value="Don't use System.out, use commons-logging facilities instead." />
    </module>
    <module name="RegexpSinglelineJava">
      <property name="format" value="System\.err\.println"/>
      <property name="ignoreComments" value="true"/>
      <property name="message" value="Don't use System.err, use commons-logging facilities instead." />
    </module>
    <module name="RegexpSinglelineJava">
      <property name="format" value="System\.exit"/>
      <property name="ignoreComments" value="true"/>
      <property name="message" value="Don't use System.exit." />
    </module>
    <module name="RegexpSinglelineJava">
      <property name="format" value="printStackTrace"/>
      <property name="ignoreComments" value="true"/>
      <property name="message" value="Don't use Exception.printStackTrace, use commons-logging facilities instead." />
    </module>
  </module>
</module>
